__MACOSX
.Saved/
_arc/
dist
build
Desktop.ini
yarn-error.log
bower_components
node_modules
npm-debug.log
npm-debug.log.*
.vscode
.publish/
.DS_Store
*.log
*.sublime-*
*.rar
*.zip
.idea
ex_files
Thumbs.db
